
<br />
<br />

<div class="container">

    <center><h3><b>Hantera Fordon   </b></h3></center>

    <br />
    <br />


    <div class="row">


        <div class=" col-sm-12 col-lg-12">
            <div class="list-group" id="list-tab" role="tablist">


                <ul>
                    <li ng-repeat="Vehicle in getAvailableVehicles">
                        <div class="list-group-item list-group-item-action" id="{{'carId'+$index}}" href="#list-profile" role="tab" aria-controls="profile">
                            <b>{{Vehicle.make}}</b> | {{Vehicle.plateNumber}}
                            <div class="float-right">
                                <button ng-click="deleteVehicle(Vehicle)" class="btn btn-sm btn-danger"> - Ta bort fordon</button>
                                <button ng-if="Vehicle.defaultVehicle" ng-click="setVehicleNotStandard(Vehicle)" class="btn btn-sm btn-primary">Standardbil</button>
                                <button ng-if="!Vehicle.defaultVehicle" ng-click="setVehicleStandard(Vehicle)" class="btn btn-sm btn-warning">Gör till Standardbil</button>
                                <button ng-if="Vehicle.active" ng-click="setVehicleInActive(Vehicle)" class="btn btn-sm btn-info"> Tillgänglig</button>
                                <button ng-if="!Vehicle.active" ng-click="setVehicleActive(Vehicle)" class="btn btn-sm btn-secondary"> Otillgänglig</button>
                            </div>


                        </div>
                        <br />
                    </li>

                </ul>
            </div>
            <br />
            <br />


        </div>

    </div>


</div>





