


<br />
<br />

<div class="container borderCSS">
    <br />
    <center><h3><b>Support</b></h3></center>
    <hr />
    <br />
    <br />
    <div class="row">
        <div class="col-lg-12 chatbox">
            <br />

            <ul class="form-control">
                <li ng-repeat="item in messages"><b ng-bind="item.name"></b> <small ng-bind="item.time"></small>: {{item.message}}</li>
                <br />
            </ul>
            <br />
            <br /><br />
            <br /><br />
        </div>

            </div>
    

            <div class="row">
             <div class="col-lg-12">
                    
                    <h4>Skicka ett meddelande</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="comment">Namn</label>
                            <input ng-model="user.name" type="text" class="form-control" placeholder="Ange nummerplåt">
                        </div>
                        <div class="col-lg-6">
                            <label for="comment">Meddelande</label>
                            <input ng-model="user.message" type="text" class="form-control" placeholder="Ange märke">
                        </div>
                        <br />
                        <br />
                        <br />
                        <br />
                        <button ng-click="send()" class="btn btn-info btn-block" type="submit">Skicka</button>
                    </div>
                </div>

            </div>
        </div>

        <br /><br />
