


<br />
<br />

<div class="container borderCSS">
    <br />
    <center><h3><b>Support</b></h3></center>
    <hr />
    <br />
    <br />
    <div class="row">
        <div class="col-lg-12">

            <div class="form-group">
                <label for="exampleFormControlSelect2">Example multiple select</label>
                <select multiple class="form-control chatbox" id="exampleFormControlSelect2">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            </div>
            </div>


            <div class="row">
             <div class="col-lg-12">
                    <hr />
                    <h4>Skicka ett meddelande</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="comment">Namn</label>
                            <input ng-model="VehiclePlateNumber" type="text" class="form-control" placeholder="Ange nummerplåt">
                        </div>
                        <div class="col-lg-6">
                            <label for="comment">Meddelande</label>
                            <input ng-model="VehicleMake" type="text" class="form-control" placeholder="Ange märke">
                        </div>
                        <br />
                        <br />
                        <br />
                        <br />
                        <button ng-click="addNewVehicleJsAction()" class="btn btn-info btn-block" type="submit">Skicka</button>
                    </div>
                </div>

            </div>
        </div>

        <br /><br />
